.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

h1 {
  margin-bottom: 10px;
}

.App-header h1 {
  font-size: 2rem;
}

.App-header p {
  margin-top: 0;
  color: #888;
  font-size: 18px;
}

.upload-section {
  display: grid;
  gap: 1rem;
  margin-top: 40px;
}

.upload-button {
  background-color: #61dafb;
  color: #282c34;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #4fa8c5;
}

.file-name {
  margin-top: 20px;
  color: #61dafb;
  font-size: 16px;
}